---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";

export async function getStaticPaths() {
  const deputies = await getCollection("diputados");
  return deputies.map((deputy) => ({
    params: { slug: deputy.slug },
    props: deputy,
  }));
}

const deputy = Astro.props;
---

<BaseLayout title={deputy.data.title}>
  <main>
    <article class="prose mx-auto dark:prose-invert">
      <div class="prose-h1 text-center">
        <h1>{deputy.data.title}</h1>
      </div>
      <div>
        {
          deputy.data.cover && (
            <OptimizedCover src={deputy.data.cover} alt={deputy.data.title} />
          )
        }
      </div>
      <div>
        <strong>Partido Político:</strong>
        {deputy.data.party}
      </div>
      <div>
        <span
          class="mb-2 mr-2 inline-block rounded-full bg-neutral-200 px-3 py-1 text-sm hover:bg-neutral-500 dark:bg-neutral-600"
        >
          A FAVOR
        </span>
      </div>
    </article>
  </main>
</BaseLayout>
