---
import BaseLayout from "@layouts/BaseLayout.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";
import { DEPUTIES } from "@consts";

export async function getStaticPaths() {
  return DEPUTIES.map((deputy) => ({
    params: {
      // Normalize name for URL: María Álvarez -> maria-alvarez
      name: deputy.name
        .normalize("NFD")
        .replace(/\p{Diacritic}/gu, "")
        .replaceAll(" ", "-")
        .toLowerCase(),
    },
    props: deputy,
  }));
}

const deputy = Astro.props;
const spanColor = deputy.isSupportive ? "bg-lime-500" : "bg-red-600 text-white";
---

<BaseLayout title={deputy.name}>
  <main>
    <article class="prose mx-auto dark:prose-invert">
      <div class="prose-h1 text-center">
        <h1>{deputy.name}</h1>
      </div>
      <div>
        {deputy.img && <OptimizedCover src={deputy.img} alt={deputy.name} />}
      </div>
      <div>
        <strong>Partido Político:</strong>
        {deputy.party}
      </div>
      <div class="flex justify-center">
        <span
          class={`mb-2 mr-2 inline-block rounded-full px-6 py-4 text-xl uppercase ${spanColor}`}
        >
          {deputy.isSupportive ? "A favor" : "En contra"}
        </span>
      </div>
    </article>
  </main>
</BaseLayout>
