---
import OptimizedCover from "@components/OptimizedPicture.astro";
import { DEPUTIES } from "@consts";

interface Props {
  deputy: (typeof DEPUTIES)[number];
}

const { deputy } = Astro.props;
const supportText = deputy.isSupportive ? "A favor" : "En contra";
---

<div
  class="relative overflow-hidden rounded-xl bg-white transition-transform duration-500 hover:-translate-y-1 hover:scale-105 dark:bg-neutral-900"
>
  <a href={`/diputados/${deputy.uri}/`} class="block">
    <OptimizedCover src={deputy.img} alt={deputy.name} />
    <div
      class="md:text-md absolute bottom-0 end-0 start-0 bg-gradient-to-t p-2 text-sm font-bold text-white md:p-4"
    >
      <h3>{deputy.name}</h3>
      <h3 class="uppercase">{supportText}</h3>
    </div>
  </a>
</div>
